
.menu {
    position:relative;
    border-right:1px solid lightgray;
}

.menu .cover {
    position:absolute;
    top:0;
    left:0;
    min-height:100%;
    z-index:999;
    overflow-y:auto;
    border-right:1px solid lightgray;
    transition: transform .2s, color .2s;
}

.menu:not(:hover) .cover {
    color:transparent;
    transform: translateX(-100%);
}


.menu ul {
    list-style:none;
    padding:0;
    margin:0;
}

.menu li {
    white-space:nowrap;
}

.menu li:not(.grandfather)::before {
    content:"";
    margin-right:1em;
}

.menu li:not(.blank):not(.grandfather)::before {
    content:"â—";
}

.menu li.iam::before {
    content:">";
}

.menu li.grandfather {
    margin-bottom:1em;
    /*border-bottom:1px dashed lightgray;*/
}



.menu .childrens {
    margin-left:1em;
}
